<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="signup.css">
	<link rel="icon" href="favicon.png" type="image/x-icon"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="jquery-2.1.4.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Welcome to Blogpost</title>
</head>
<body>
	<div class="overlay">
		<div class="card"><center>
			<h2><span><a href="https://github.com/PnCodeBreaker/BlogPost">BLOGPOST</a></span></h2><br><br>
		<form action="/login">
		<table width="100%">
	    <!---------Error message---->
		<tr>
			<td><div class="icon"><i class="material-icons">mail_outline</i></div></td>
			<td><input type="email" name="email" placeholder="Email"></td>
			<div class="email error"></div>
		</tr>
		<tr>
    	<td><div class="icon"><i class="material-icons">lock_outline</i></div></td>
			<td><input type="password" name="password" placeholder="Password"></td>
			<div class="password error"></div>
            </tr>
            <tr>
		     <td colspan="2"><button class="signup">Login</button></td>
		 </tr>
		 <tr>
		     <td colspan="2"><center>Don't have an account?</center></td>
		 </tr>
		 <tr>
		     <td colspan="2"><a href="/signup"><div class="signup">Signup</div></a></td>
		 </tr>
		</table>
        </form>
	 </center>
         <br><br>

            <center><font color="white">   ©Copyright <a  href="https://github.com/PnCodeBreaker/BlogPost"><font color="#00bfa5">BlogPost</font></a> 2021  

		  </center></font><br><br>
		  <center>Built By <br>
			<a href="https://github.com/PnCodeBreaker"><u>PNCodeBreaker</u></a><font color="tomato"> & </font><a href="https://github.com/Decoder6125"><u>Decoder</u></a></center>
   <br><br><br>
   </font>
      </div></div>
   
<font color="grey">
            






      
</body>
</html>
<script>
	const form = document.querySelector('form');
	const emailError = document.querySelector('.email.error');
	const passwordError = document.querySelector('.password.error');
	form.addEventListener('submit', async (e) => {
	  e.preventDefault();
	  // reset errors
	  emailError.textContent = '';
	  passwordError.textContent = '';
	  // get values
	  const email = form.email.value;
	  const password = form.password.value;
	  try {
		const res = await fetch('/login', { 
		  method: 'POST', 
		  body: JSON.stringify({ email, password }),
		  headers: {'Content-Type': 'application/json'}
		});
		const data = await res.json();
		console.log(data);
		if (data.errors) {
		  emailError.textContent = data.errors.email;
		  passwordError.textContent = data.errors.password;
		}
		if (data.user) {
		  location.assign(`/createblog/${data.user}`);
		}
	  }
	  catch (err) {
		console.log(err);
	  }
	});
  </script>
