 *{
          padding: 0;
          margin: 0;
          font-family: 'Ubuntu', sans-serif;

    }

html {
  scroll-behavior: smooth;
}

body {
      background: var(--primary-color);
}

    :root {
    --primary-color: white;
    --secondary-color: #00bfa5;
    --font-color: white;
    --font2-color: black;
    --bg-color: #fff;
    --heading-color: #292922;
}
    [data-theme="dark"] {
    --primary-color: black;
    --secondary-color: #212121;
    --font-color: #00bfa5;
    --font2-color: white;
    --bg-color: #161625;
    --heading-color: #818cab;
}



    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: var(--primary-color);
        display: flex;
        justify-content: space-around;
        z-index: 999;
    }

    .footer a {
        text-decoration: none;
        font-size: 30px;
        z-index: 99;
    }

    .float-btn {
        position: fixed;
        width: 50px;
        height: 50px;
        background: var(--primary-color);;
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 grey;
        bottom: 65px;
        right: 10px;
        text-align: center;
        line-height: 60px;
        color: #00bfa5;
        z-index: 9;
    }

    .float-btn a {
         text-decoration: none;
         color: #00bfa5;
    }
    
    .section.container {
        position: relative;
        width: 100%;
        background: white;
        height: auto;
        top: 50px;
        display: block;
    }


    .section.container .card {
        height: auto;
        width: 100%;
        position: relative;
        background: white;
        left: 0;
        transition: 0.5s;
      
    }

    .container .card .card-content1 {
        padding-left: 10px;
        transition: 0.5s;
        color: var(--font2-color);
    }
     .container .card .card-content2 {
        padding-left: 10px;
        color: var(--font2-color);
    }
     p {
        color: var(--font2-color);
      }
   

    .container .card .card-content i {
        padding-left: 5px;

    }

    .container .card .card-content2 a {
        text-decoration: none;
        color: red;

    }

    .privacy {
       width: auto;
       position: fixed;
       right: 2px;
    }

    .header {
         width: 100%;
         height: 50px;
         position: fixed;
         top: 0;
         left: 0;
         background: var(--secondary-color);
         z-index: 99999;
         color: var(--font-color);
         line-height: 50px;
         display: flex;
         justify-content: space-between;
         box-shadow: 0 1px 1px 0 grey;
    }


  input[type="text"] {
      height: 40px;
      width: 90%;
      background: none;
      border-style: none;
      border-bottom: 2px solid #00bfa5;
      color: #00bfa5;
      outline: none;
      font-size: 15px;
}

.txt {
        background: none;
        width: 90%;
      border-style: none;
      border: 2px solid #00bfa5;
      color: #00bfa5;
      outline: none;
      font-size: 15px;
}

input[type="submit"] {
      height: 40px;
      width: 90%;
      background: #00bfa5;
      border-radius: 50px;
      color: white;
      outline: none;
      opacity: 1.0;
      border: none;
      font-size: 15px;

}

.delete {
      height: 40px;
      width: 100px;
      background: #00bfa5;
      border-radius: 50px;
      color: white;
      outline: none;
      opacity: 1.0;
      border: none;
      font-size: 15px;
      line-height: 40px;
}


.header .head-btn {
      height: 40px;
      line-height: 30px;
      width: 30px;
      padding-right: 6px;
      padding-left: 6px;
      background: none;
      border-radius: 50%;
      color: white;
      outline: none;
      opacity: 1.0;
      font-size: 18px;
      position: fixed;
      top: 10px;
      right: 30px;
      text-align: center;
      cursor: pointer;
}

.header .head-logo {
      height: 40px;
      line-height: 30px;
      width: 30px;
      padding-right: 6px;
      padding-left: 6px;
      background: none;
      border-radius: 50%;
      color: white;
      outline: none;
      opacity: 1.0;
      font-size: 18px;
      position: fixed;
      top: 10px;
      right: 5px;
      text-align: center;
      cursor: pointer;
}





.logo {
       position: fixed;
       left: 8px;
}

.header .drop {
        line-height: 64px;
}



.dropdown {
  position: relative;
  display: inline-block;
  z-index: -99999;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 40px;
  border-radius: 5px;
  right: 10px;
  color: #00bfa5;
  background-color: var(--primary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  height: auto;
  z-index: 1;
}

#myBtn {
  margin-left: 5px;
  cursor: pointer;
}

.dropdown-content a{
  text-decoration: none;
  margin-left: 5px;
  color: #00bfa5;
}

.dropdown:hover .dropdown-content {
  display: block;
}





.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 200px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background: #fefefe;
  margin: auto;
  padding: 20px;
  padding-top: 2px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
}


#myModal .modal-content{
  background: var(--primary-color);
  color: var(--font2-color);
}


#img_selector {
   background: var(--primary-color);
  color: var(--font2-color);
}

.close {
   height: 40px;
      width: auto;
      background: white;
      border-radius: 50px;
      color: #00bfa5;
      padding: 10px;
      outline: none;
      opacity: 1.0;
      border: 1px solid #00bfa5;
      font-size: 15px;
      line-height: 40px;
      cursor: pointer;
}
.modal .modal-content a {
      text-decoration: none;
}

span {
      color: tomato;
}
.mod {
       height: 40px;
      width: auto;
      background: #00bfa5;
      padding: 10px;
      border: none;
      color: white;
      border-radius: 50px;
      outline: none;
      font-size: 15px;
      line-height: 40px;
      cursor: pointer;
}



@media only screen and (min-width: 700px) {
     .card {
            width: 50%;
            left: 25%;
            position: relative;
     }

     
     .footer {
             width: 50%;
             border-radius: 20px;
             left: 25%;
     }


      img {
             height: 400px;
      }
    


input[type="submit"] {
      height: 40px;
      width: 20vw;
      background: #00bfa5;
      border-radius: 50px;
      color: white;
      outline: none;
      opacity: 1.0;
      border: none;
      font-size: 15px;

}

 input[type="text"] {
      height: 40px;
      width: 40vw;
      background: none;
      border-style: none;
      border-bottom: 2px solid #00bfa5;
      color: #00bfa5;
      outline: none;
      font-size: 15px;
}
  .txt {
       width: 40vw;
  }


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  padding-top: 2px;
  border: 1px solid #888;
  width: 40%;
}


}






.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  line-height: 45px;
  height: 25px;
  position: relative;
  bottom: -5px;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #00bfa5;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





/*****           LOADER      ****/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;

   
}

   @media (min-width: 680px){
     .loader-wrapper {
          display: none;
     }
   }

  .line {
    position: relative;
    left: 0;
    height: 10px;
    width: 200px;
    margin: 10px;
    animation: pulse 1s infinite ease-in-out;
  }
 
.loader-wrapper div:nth-child(1) {
    width: 30%;
}
.loader-wrapper div:nth-child(2) {
    width: 20%;
}
.loader-wrapper div:nth-child(3) {
    width: 95%;
    height: 300px;
}
.loader-wrapper div:nth-child(4) {
    width: 30%;
}
.loader-wrapper div:nth-child(5) {
    width: 80%;
}


.loader-wrapper div:nth-child(6) {
    width: 30%;
}
.loader-wrapper div:nth-child(7) {
    width: 20%;
}
.loader-wrapper div:nth-child(8) {
    width: 95%;
    height: 300px;
}
.loader-wrapper div:nth-child(9) {
    width: 30%;
}
.loader-wrapper div:nth-child(10) {
    width: 80%;
}


  @keyframes pulse{

    0% {
      background: rgba(165,165,165,.1);
    }

   50% {
      background: rgba(165,165,165,.3);
    }
    100% {
      background: rgba(165,165,165,.1);
    }

  }
/******* LOADER END    ******/





button {
     background: none;
     border: none;
     outline: none;
}