 *{
          padding: 0;
          margin: 0;
          font-family: 'Ubuntu', sans-serif;

    }

html {
  scroll-behavior: smooth;
}


    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: white;
        display: flex;
        justify-content: space-around;
        z-index: 999;
    }

    .footer a {
        text-decoration: none;
        font-size: 30px;
        z-index: 99;
    }

    .float-btn {
        position: fixed;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 grey;
        bottom: 65px;
        right: 10px;
        text-align: center;
        line-height: 60px;
        color: #00bfa5;
        z-index: 9;
    }

    .float-btn a {
         text-decoration: none;
         color: #00bfa5;
    }
    
    .section.container {
        position: relative;
        width: 100%;
        background: white;
        height: auto;
        top: 50px;
    }


    .section.container .card {
        height: auto;
        width: 100%;
        position: relative;
        background: white;
        left: 0;
        transition: 0.5s;
      
    }

    .container .card .card-content1 {
        padding-left: 10px;
        transition: 0.5s;
    }
     .container .card .card-content2 {
        padding-left: 10px;
    }

   

    .container .card .card-content i {
        padding-left: 5px;

    }

    .container .card .card-content2 a {
        text-decoration: none;
        color: red;

    }

    .header {
         width: 100%;
         height: 50px;
         position: fixed;
         top: 0;
         left: 0;
         background: #00bfa5;
         z-index: 99999;
         color: white;
         line-height: 50px;
         display: flex;
         justify-content: space-between;
         box-shadow: 0 1px 1px 0 grey;
    }


  input[type="text"] {
      height: 40px;
      width: 90%;
      background: none;
      border-style: none;
      border-bottom: 2px solid #00bfa5;
      color: #00bfa5;
      outline: none;
      font-size: 15px;
}

.txt {
        background: none;
        width: 90%;
      border-style: none;
      border: 2px solid #00bfa5;
      color: #00bfa5;
      outline: none;
      font-size: 15px;
}

input[type="submit"] {
      height: 40px;
      width: 90%;
      background: #00bfa5;
      border-radius: 50px;
      color: white;
      outline: none;
      opacity: 1.0;
      border: none;
      font-size: 15px;

}

.delete {
      height: 40px;
      width: 100px;
      background: #00bfa5;
      border-radius: 50px;
      color: white;
      outline: none;
      opacity: 1.0;
      border: none;
      font-size: 15px;
      line-height: 40px;
}


.header .head-btn {
      height: 40px;
      line-height: 30px;
      width: 30px;
      padding-right: 6px;
      padding-left: 6px;
      background: none;
      border-radius: 50%;
      color: white;
      outline: none;
      opacity: 1.0;
      font-size: 18px;
      position: fixed;
      top: 10px;
      right: 25px;
      text-align: center;
}

.logo {
       position: fixed;
       left: 5px;
}

.header .drop {
        line-height: 64px;
}



.dropdown {
  position: relative;
  display: inline-block;
  z-index: -99999;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 50px;
  right: 10px;
  color: #00bfa5;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  height: auto;
  z-index: 1;
}

.dropdown-content a{
  text-decoration: none;
  color: #00bfa5;
}

.dropdown:hover .dropdown-content {
  display: block;
}





.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 200px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  padding-top: 2px;
  border: 1px solid #888;
  width: 80%;
}


.close {
   height: 40px;
      width: auto;
      background: white;
      border-radius: 50px;
      color: #00bfa5;
      padding: 10px;
      outline: none;
      opacity: 1.0;
      border: 1px solid #00bfa5;
      font-size: 15px;
      line-height: 40px;
}
.modal .modal-content a {
      text-decoration: none;
}

span {
      color: tomato;
}
.mod {
       height: 40px;
      width: auto;
      background: #00bfa5;
      padding: 10px;
      border: none;
      color: white;
      border-radius: 50px;
      outline: none;
      font-size: 15px;
      line-height: 40px;
      cursor: pointer;
}



@media only screen and (min-width: 700px) {
     .card {
            width: 50%;
            left: 25%;
            position: relative;
     }

     
     .footer {
             width: 50%;
             border-radius: 20px;
             left: 25%;
     }


      img {
             height: 400px;
      }
    


input[type="submit"] {
      height: 40px;
      width: 20vw;
      background: #00bfa5;
      border-radius: 50px;
      color: white;
      outline: none;
      opacity: 1.0;
      border: none;
      font-size: 15px;

}

 input[type="text"] {
      height: 40px;
      width: 40vw;
      background: none;
      border-style: none;
      border-bottom: 2px solid #00bfa5;
      color: #00bfa5;
      outline: none;
      font-size: 15px;
}
  .txt {
       width: 40vw;
  }


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  padding-top: 2px;
  border: 1px solid #888;
  width: 40%;
}


}